<!-- Welcome Login screen-->
<div ibmRow>
<section class="jumbotron jumbotron-cust text-center chooseLogin">
	<div class="container">
		<div class="row justify-content-sm-center">
			<div  class="col col-lg-6 innerbox form-box">
				<h2  class="jumbotron-heading color_555">Welcome User !</h2>
				<div  class="form-group">  
					<!--button (click)="nagivateUrl()"   class="btn btn-primary btn-lg btn-block btn-sign-in upper-case" type="button">LOGIN</button-->  
					<button (click)="nagivateUrl()" class="bx--btn--primary" style="width: 116px; cursor: pointer;">LOGIN</button>  
				</div>
			</div>
		</div>
	</div>
</section>
</div>
