/* You can add global styles to this file, and also import other style files */
@import '~carbon-components/scss/globals/scss/styles';



.innerbox{
	background: #FFFFFF;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.05);
	padding:5rem 9rem 2rem 9em;
	border:solid 1px #d3d7d6;
}

.jumbotron-cust {
    padding-bottom: 4rem;
    padding-top: 6.7rem;
    padding-left:112pt;
    padding-right:112pt;
      margin-bottom: 0;
      background-color: #EDF4F4;
      border-radius:0px !important;
  }

.color_555{color: #555555 !important;}

.chooseLogin{
    line-height: 60px;
  }
  @media (min-width: 576px) {
    .justify-content-sm-center {
      -webkit-box-pack: center !important;
      -webkit-justify-content: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
    }
  
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 576px) {
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  @media (min-width: 768px) {
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  @media (min-width: 992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  @media (min-width: 1200px) {
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    max-width: 100% !important;
  }