.tileDetails{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
}
.tileDetails ibm-clickable-tile{
    position: relative;
    width:50%;
}
ibm-clickable-tile svg{
    fill: #8d8d8d;
}
.externalSvgStyle{
    width:31px;
    height:31px;
    margin-left:12px;
    margin-top:12px;
}