<div class="tileDetails">
    <!-- <ibm-clickable-tile class="active-tile" *ngIf="true">
        <img src="../../assets/img/document.svg" class="externalSvgStyle"/>
        <div class="bottomTileText" >
            <div> Cloud Infrastructure Provisioning</div>
            <br/>
        </div>
    </ibm-clickable-tile> -->
    <!-- <ibm-clickable-tile class="active-tile" *ngIf="true" href="#">
        <img src="../../assets/img/expand.svg" class="externalSvgStyle"/>
        <div class="bottomTileText" >
            <div>Landing Zone Provisioning</div>
            <br/>
        </div>
    </ibm-clickable-tile> -->
    </div>